NEXT_PUBLIC_APP_NAME=Gigling Racing Intel
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_GIGAVERSE_API_BASE_URL=https://gigaverse.io/api/racing
NEXT_PUBLIC_ABSTRACT_RPC_URL=https://api.mainnet.abs.xyz
NEXT_PUBLIC_PET_RACING_SYSTEM_ADDRESS=0x16e0B3D6394CE7597D34b73f5E5Fb165fD74394E
NEXT_PUBLIC_CHAIN_ID=2741
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
